img {
  vertical-align: middle;
}

#tsparticles canvas {
  position: fixed;
  z-index: -1;
}

.section {
  padding-top: 22vh;
  margin-bottom: 22vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
