@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200&family=Frank+Ruhl+Libre&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=David+Libre&family=Quicksand:wght@300&display=swap');

h1,
h2,
h3,
h4,
p,
span,
a {
  color: #e7e7e7;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
h1,
h2,
h3,
h4 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.5rem;
  letter-spacing: normal;
}

div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html,
body {
  margin: 0;
  height: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand', sans-serif;
}
